@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
  --color-0: #9c89b8;
  --color-1: #9c89b8;
  --color-2: #9c89b8;
  --color-3: #2D2A32;
  --color-4: #F6E8EA;
  --font-color-0: #000000;
  --font-color-1: #2b2d42;
  --font-color-2: #ffffff;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-variant-ligatures: none;
  line-height: 1.6;
  color: var(--font-color-2);
  background: var(--color-3);
}

main {
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--font-color-2);
}

a:hover {
  text-decoration: underline;
  color: var(--font-color-2);
}

td, th {
  text-align: left;
  padding: 2.5px;
  min-width: 150px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.spacer {
  flex: 1;
}

.nav {
  overflow-x: auto;
  height: 100%;
  padding: 10px 20px;
  gap: 20px;
  background: var(--color-4);
}

.nav a {
  text-decoration: none;
}

.nav .nav-item {
  line-height: var(--header-height);
}

.nav-item {
  display: block;
  height: 100%;
  border-bottom: 2px solid transparent;
  color: var(--font-color-1);
  transition: border-color 0.1s;
  font-size: var(--font-size-h3);
  flex-shrink: 0;
}

.nav-item:not(.nav-item-current):hover {
  border-bottom-color: var(--color-1);
}

.nav-item.nav-item-current {
  border-bottom-color: var(--color-1);
}

input {
  min-width: 300px;
  padding: 10px;
  cursor: pointer;
}

button {
  padding: 10px;
  background: var(--color-2);
  border-color: var(--color-3);
  color: var(--font-color-2);
  box-shadow: none;
  border-style: solid;
}

h1 {
  margin-top: 0px;
}
