@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f3f3f3;
  --vt-c-black: #000000;
  --vt-c-primary: #003e7c;
  --vt-c-off-primary: #9dacff;

  /* status colors */
  --vt-c-green: #005704;
  --vt-c-gray: #6f6f6f;
  --vt-c-orange: #a07200;
  --vt-c-red: #ca0000;

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: var(--vt-c-primary);
  --vt-c-text-light-3: var(--vt-c-gray);
  --vt-c-text-dark-1: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-soft);
  --color-background-soft: var(--vt-c-white);
  --color-text: var(--vt-c-text-light-1);
  --color-text-disabled: var(--vt-c-text-light-3);
  --color-text-link: var(--vt-c-text-light-2);

  --section-gap: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* will make dark theme later */
    --color-background: var(--vt-c-white-soft);
    --color-background-soft: var(--vt-c-white);
    --color-text: var(--vt-c-text-light-1);
    --color-text-link: var(--vt-c-text-light-2);

    --section-gap: 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.25s,
    background-color 0.25s;
  line-height: 1.6;
  font-family: 'JetBrains Mono';
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: 'JetBrains Mono';
}

.spacer {
  flex: 1;
}
