@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  height: 100vh;
  gap: var(--section-gap);
  padding: var(--section-gap);
}

a {
  cursor: pointer;
  color: var(--color-text-link);
}

a:hover:not(.disabled) {
  text-decoration: underline;
}

a.disabled {
  cursor: initial;
  color: var(--color-text-disabled);
}
